<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item mx-3">
          <a class="nav-link" href="{{ url_for('image_generator') }}"
            >Image Generator</a
          >
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="#">Content Title Generator</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="#">Persona ChatGPT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
