{% extends 'index.html' %} {% block content %}

<style></style>

<form action="{{ url_for('content_gen.content_generator') }}" method="post">
  <div class="mb-3">
    <label class="form-label">Write me something about</label>
    <textarea class="form-control" name="content" rows="2" required></textarea>
    <div class="text-end mt-3">
      <button type="submit" class="btn btn-primary">Generate</button>
    </div>
  </div>
</form>

{% if status == "success" %}
<p class="fs-5 fw-bolder">Result: {{ prompt }}</p>
<div class="content">{{ result | safe }}</div>
{% elif status == "fail" %}
<div class="alert alert-danger" role="alert">
  Something went wrong. Please reload and try again.
</div>
{% endif %} {% endblock %}
