{% extends 'index.html' %} {% block content %}

<form action="{{ url_for('image_gen.image_generator') }}" method="post">
  <div class="mb-3">
    <label class="form-label">Turning your idea into an image</label>
    <textarea
      class="form-control"
      name="description"
      rows="2"
      required
      placeholder="e.g. abstract pencil and watercolor art of a lonely robot holding a balloon"
    ></textarea>
    <div class="text-end mt-3">
      <button type="submit" class="btn btn-primary">Generate</button>
    </div>
  </div>
</form>

<div class="text-center">
  {% if status == "success" %}
  <p class="fs-5 fw-bolder">Image Result</p>
  <p>{{ prompt }}</p>
  <img
    src="{{ result
       }}"
    class="img-fluid img-thumbnail p-3"
  />
  {% elif status == "fail" %}
  <div class="alert alert-danger" role="alert">
    Something went wrong. Please reload and try again.
  </div>
  {% endif %}
</div>

{% endblock %}
