{% extends 'index.html' %} {% block content %}
<div class="container py-2">
  <div class="card flex-fill">
    <div class="card-body">
      <h5 class="card-title">User Voice Input</h5>
      <textarea class="form-control mb-3" id="userInput" rows="10"></textarea>
      <div class="d-flex justify-content-end">
        <button
          class="btn btn-outline-primary d-flex justify-content-center"
          id="recordBtn"
        >
          <span class="material-symbols-rounded"> mic </span>
        </button>
        <button
          class="btn btn-outline-danger d-flex justify-content-center d-none"
          id="stopBtn"
        >
          <span class="material-symbols-rounded"> stop_circle </span>
        </button>
        <button class="btn btn-outline-dark disabled d-none" id="loadingBtn">
          <span class="spinner-border spinner-border-sm" role="status"> </span>
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
